{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{{siteurls.img5}}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>Contact us</h2>
						<p>Reach us from here if you are not part of the community. You can report issues, sponsor our events, report violations or appeal for the infraction you have recieved</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->
	{% if H %}
	<div id="myModal" class="poppup" style="display:block;" >

			<!-- Modal content -->
			<div class="poppup-content">
			<span class="close">&times;</span>
			<p>Request processed successfully!</p>
			</div>
	</div>
	{% endif %}

	<!-- Page section -->
	<section class="page-section spad contact-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h4 class="comment-title">Tortoise Community</h4>
					<p>A discord based community of/for programmers and developers focused around Python and Machine learning</p>
					<div class="row">
						<div class="col-md-9">
							<ul class="contact-info-list">
								<!--<li><div class="cf-left">Phone</div><div class="cf-right">+53 345 7953 32453</div></li>-->
								<li><div class="cf-left">E-mail</div><div class="cf-right">tortoisecommunity@gmail.com</div></li>
							</ul>
						</div>
					</div>
					<div class="social-links">
						<a href="https://github.com/Tortoise-Community" target="_blank"><i class="fa fa-github fa-lg"></i></a>
						<a href="https://www.reddit.com/user/Tortoise_Community" target="_blank"><i class="fa fa-reddit fa-lg "></i></a>
						<a href="https://twitter.com/PythonTortoise" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="https://www.youtube.com/channel/UCjx0JTXZWVd11edZY0aj63g" target="_blank"><i class="fa fa-youtube-play fa-lg"></i></a>
						<a href="https://www.facebook.com/Tortoise-Python-Community-103144314517830" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
						<a href="https://www.instagram.com/Tortoise_Python_Community/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="contact-form-warp">
						<h4 class="comment-title">Reach Us</h4>
						<form class="comment-form" action="contact" method="POST" >
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Name"  name="name" required>
								</div>
								<div class="col-md-6">
									<input type="email" placeholder="Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"  name="email" required>
								</div>
								<div class="col-lg-12">
									  <div class="form-group">
									    <label for="seeAnotherField">Subject</label><br>
									      <select onchange="adjustContactForm(this.value)" class="form-control" id="subjectx" name="subject" required>
									         <option value="none" selected disabled hidden> --select-- </option>
									         <option value="Report-User">Report user</option>
									         <option value="Issue-Report">Report issue</option>
											 <option value="Sponsorship">Sponsor us</option>
											 <option value="Partnership">Partner up</option>
									         <option value="Appeal-Infraction">Appeal infraction</option>
									         <option value="Data-Deletion">Data Deletion</option>
											 <option value="Other">Other</option>
									      </select>  
									   </div>
											<div id="other" style="display:none;"><br/>
												<label>Enter the subject:</label>
												<input type="text" placeholder="subject"  name="othersub">
											</div>
											<div id="user" class="row">
													<div class="col-md-6">
															<label>Username:</label> 
															<input type="text" placeholder="Ryuga_hideki"  name="username">
													</div>
													<div class="col-md-6">
															<label>Tag:</label> 
															<input type="text" name="tag"   placeholder="#1234" pattern="[#]{1}[1-9]{4}">
													</div>
											</div>
											<div id="infraction" class="row">
												<div class="col-md-6">	
												<label>Infraction type:</label><br>
												<select name="infraction-type" class="form-controly" >
													<option value="none" selected disabled hidden> --select-- </option>
													<option value="mute">Mute</option>
													<option value="kick">Kick</option>
													<option value="ban">Ban</option>
												</select>
												</div><br>
												<div class="col-md-6">
													<label>Date:</label><br>
													<input type="date"  class="form-controly" name ="date"  ><br><br>
													<label>Reason:</label> 
													<input type="text" name="reason" placeholder="Violated T&C"  >
												</div>
											</div>
											<div id="sponsor">
												<label>What would you like to sponsor:</label><br>
												<select name="sponsor-type" class="form-controly" name="sponsor-type" >
												<option value="none" selected disabled hidden>--select-- </option>
												<option value="Coding-Event">Code Jam</option>
												<option value="CTF-Event">CTF-Event</option>
												<option value="Team-Events">Team-Event</option>
												<option value="Project">Project</option>
											    </select>
											</div>
											<div id="issue" class="row">
													<div class="col-md-12">
															<label>Enter the issue: </label>
															<input type="text" name="issue" >
													</div>
											</div>
											<div id="partner" class="row">
													<div class="col-md-6">
															<label>Server Name:</label> 
															<input type="text" placeholder="Tortoise" name="server-name" >
													</div>
													<div class="col-md-6">
															<label>Server Topic</label> 
															<input type="text"  placeholder="Programmming " name="server-topic" >
													</div>
													<div class="col-md-6">
															<label>Invitaiton link</label> 
															<input type="text" placeholder="https://discord.gg/99SKwQd" name="server-invite" >
													</div>
												
											</div>

                                <br><textarea placeholder="Message" name="message"></textarea>
									<button class="site-btn btn-sm" type="submit">Send</button>
									
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->

{% endblock content %}

{% block scripts %}
	<script type="text/javascript">
        function adjustContactForm(answer) {

            if (answer == "Other") {

                document.getElementById('other').style.display = "block";
                document.getElementById('sponsor').style.display = "none";
                document.getElementById('issue').style.display = "none";
                document.getElementById('user').style.display = "none";
                document.getElementById('infraction').style.display = "none";
                document.getElementById('partner').style.display = "none";

            } else if (answer == "Report-User") {

              document.getElementById('other').style.display = "none";
              document.getElementById('sponsor').style.display = "none";
              document.getElementById('issue').style.display = "block";
              document.getElementById('user').style.display = "block";
              document.getElementById('infraction').style.display = "none";
              document.getElementById('partner').style.display = "none";

            }else if (answer == "Sponsorship") {

              document.getElementById('other').style.display = "none";
              document.getElementById('sponsor').style.display = "block";
              document.getElementById('issue').style.display = "none";
              document.getElementById('user').style.display = "none";
              document.getElementById('infraction').style.display = "none";
              document.getElementById('partner').style.display = "none";

            }
            else if (answer == "Issue-Report") {

                document.getElementById('other').style.display = "none";
                document.getElementById('sponsor').style.display = "none";
                document.getElementById('issue').style.display = "block";
                document.getElementById('user').style.display = "none";
                document.getElementById('infraction').style.display = "none";
                document.getElementById('partner').style.display = "none";


            }
            else if (answer == "Appeal-Infraction") {

                    document.getElementById('other').style.display = "none";
                    document.getElementById('sponsor').style.display = "none";
                    document.getElementById('issue').style.display = "none";
                    document.getElementById('user').style.display = "block";
                    document.getElementById('infraction').style.display = "block";
                    document.getElementById('partner').style.display = "none";

            }
            else if (answer == "Partnership") {

                document.getElementById('other').style.display = "none";
                document.getElementById('sponsor').style.display = "none";
                document.getElementById('issue').style.display = "none";
                document.getElementById('user').style.display = "none";
                document.getElementById('infraction').style.display = "none";
                document.getElementById('partner').style.display = "block";

            }
            else if (answer == "Data-Deletion") {

                document.getElementById('other').style.display = "none";
                document.getElementById('sponsor').style.display = "none";
                document.getElementById('issue').style.display = "none";
                document.getElementById('user').style.display = "block";
                document.getElementById('infraction').style.display = "none";
                document.getElementById('partner').style.display = "none";

            }
        }
	</script>
{% endblock scripts %}