{% extends 'layouts/base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock stylesheet %}

{% block content %}

	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{{siteurls.img4}}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>Our Community</h2>
						<p>Our top 20 developers ranked according to their performance </p>
					</div>
				</div>
				<a href="{% url 'members' %}"><button class="githux mod1 buttonactive">Developers</button></a>
				<a href="{% url 'rules' %}"><button class="githux mod1">Rules</button></a>
				<a href="{% url 'privacy' %}"><button class="githux mod1">Privacy</button></a>
			</div>
		</div>
	</section>
	<!-- Page info section -->

{% if Members %}
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Name</th>
								<th class="column2">Tag</th>
								<th class="column3">Status</th>
								<th class="column4">Role</th>
								<th class="column5">Level</th>
								<th class="column6">Perks</th>
							</tr>
						</thead>
						<tbody>
							{% for M in Members %}
								<tr>
									<td class="column1">{{M.name}}</td>
									<td class="column2">#{{M.tag}}</td>
									<td class="column3"><b>{{M.status}}</td>
									<td class="column4">{{M.role}}</td>
									<td class="column5">{{M.level}}</td>
									<td class="column6">{{M.perks}} Px</td>
								</tr>
							{% endfor %}	
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

{% endblock content %}