{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}


{#	<!-- Page info section -->#}
{#	<section class="page-info-section set-bg" data-setbg="{{siteurls.img1}}">#}
{#		<div class="pi-content">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col-xl-5 col-lg-6 text-white">#}
{##}
{#						<h2>Events</h2>#}
{#						<p>Here are the records all the Live/Ended Events,Participate in our events and win cool prizes and perks.<br>Rank up inside the server and earn higher roles </p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</section>#}
{#	<!-- Page info section -->#}


	<!-- Page section -->
	<section class="page-section recent-game-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						{% for e in events %}
						<div class="col-md-6">
							<a href="{{e.pk}}">
							<div class="recent-game-item">
								<div class="rgi-thumb set-bg" data-setbg="{{e.cover_image.url}}">
									<div class="{{e.status}}">{{e.status}}</div>
								</div>
								<div class="rgi-content">
									<h5>{{e.name}} </h5>
									<p>{{e.task}} </p><br>
									<div class="rgi-extra">
										<div class="rgi-star"><img src="{% static 'img/icons/star.png' %}" alt=""></div>
										<div class="rgi-heart"><img src="{% static 'img/icons/heart.png' %}" alt=""></div>
									</div>
								</div>
							</div>	
							</a>
						</div>
						{% endfor %}
					</div>
					
								
					<div class="site-pagination">
						<span class="active">01.</span>
					<!---	<a href="#">02.</a> -->
					</div>
				</div>
				<!-- sidebar -->
				<div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
					<!-- widget --> 
					<div class="widget-item">
						<h4>Upcoming</h4>
					</div>
		
					{% if upcoming %}
					<!-- widget --> 
					{% for u in upcoming %}
					<div class="widget-item">
						<div class="feature-item set-bg" data-setbg="{{u.cover_image.url}}">
							{% if u.eventtype == 'CTF-Event' %}
							<span class="cata blue">CTF-Event</span>
							{% else %}
							<span class="cata green">CODING-CHALLENGE</span>
							{% endif %}
							<div class="fi-content text-white">
								<h5><a href="#">{{u.name}}</a></h5>
								<p>{{u.task}} </p>
								<a href="#" class="fi-comment"><b>Host: <b>{{u.host}}</a>
							</div>
						</div>
					</div> 
					{% endfor %}
					{% else %}
					<h6>There are no upcoming events...</h6>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->

{% endblock content %}