{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{{siteurls.img3}}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white blurcard">
						<h2 style="color: black;">Projects</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->

    <!-- Review section -->
    <section class="review-section review-dark spad set-bg" data-setbg="{% static 'img/review-bg-2.jpg' %}">
        <div class="container">
            <div class="section-title text-white">
                <div class="cata red">new</div>
                <h2>Our Projects</h2>
            </div>
            <div class="row text-white">
                {% for p in projects %}
                <div class="col-lg-3 col-md-6">
                    <a href="{{p.pk}}"><div class="review-item">
                        <div class="review-cover set-bg" data-setbg="{{p.cover_image.url}}">
                            <div class="score pink">{{p.rating}}</div>
                        </div>
                        <div class="review-text">
                            <h5>{{p.name}}</h5>
                            <p>{{p.label}}</p>
                        </div>
                    </div></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Review section end -->

{% endblock content %}