{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

	<!-- Page section -->
	<section class="page-section single-blog-page spad outertint">
		<div class="container">
			<div class="row innertint">

					<div style="align-items: left;padding:4px 4px;">
						    <div class="fas fa-history git"><span class="change-font"> Commits {{project.commits}}</span></div>
							<div class="fa fa-code-fork git"> <span class="change-font"> Forks {{project.forks}}</span></div>
							<div class="fas fa-star git"> <span class="change-font"> Stars {{project.stars}}</span></div>
							<div class="fas fa-user-friends git"><span class="change-font"> Contributors {{project.contributors}}</span></div>

					</div>
				<div class="col-lg-12"><h2 class="eventbox">{{project.name}}</h2>
					<div>
						<div class="{{project.status}}">{{project.get_status_display}}</div>
					</div>

					<div class="blog-content" >
						<a href="" class="meta-comment"></a>
						{% load markdown_extras %}

                        {{ project.brief | markdown | safe }}
					</div>
				</div>
			</div>
			<br>
			<div class="row">
			<a href="{{project.github}}"><button class="githux fab fa-github"><span class="change-font" > View in Github</span></button></a>
		    {% if project.invite %}
			<a href="{{project.invite}}"><button class="invite fa fa-plus-square"><span class="change-font"> Invite to your server</span></button></a>
			{% endif %}
			</div>
		</div>
	</section>
	<!-- Page section end -->

{% endblock content %}