{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

    <!-- Review section -->
    <section class="review-section review-dark spad set-bg">
        <div class="container">
            <div class="section-title text-white">
                <h2 class="text-black-50">Our Projects</h2>
            </div>
            <div class="row text-white">
                {% for p in projects %}
                <div class="col-lg-3 col-md-6">
                    <a href="{{p.pk}}"><div class="review-item">
                        <div class="review-cover set-bg" data-setbg="{{p.cover_image.url}}">
                            <div class="score pink">{{p.rating}}</div>
                        </div>
                        <div class="review-text">
                            <h5>{{p.name}}</h5>
                            <p>{{p.label}}</p>
                        </div>
                    </div></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Review section end -->

{% endblock content %}