{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

	<!-- Page info section -->
	<section class="page-info-section1 set-bg" data-setbg="{{siteurls.verification_img}}">
				<div class="verification">
					<div class="verification-wrapper">
						<div class="verification-top">
							<h3>Tortoise <span>Community</span></h3>
							{% if not verified %}
							<h5>Sign-in to verify</h5>
							{% endif %}
							{% if verified %}
							<h5>Verification Successfull!</h5>
							{% endif %}
						</div>
						{% if not verified %}
						<fieldset>
							<legend visible="true" style="width:auto;"><h5>Oauth2 Verification™</h5></legend>
						<div class="verification-bottom">
                            <script src="https://kit.fontawesome.com/85b9627602.js" crossorigin="anonymous"></script>
                            <i class="fas fa-lock fa-5x iconcenter"></i>
                            <p>One time verification, Access all our servers</p>
						</div>

						</fieldset>
						<div class="verification-footer">
							{% if emailerror %}
							<div class="emailerror">
								<p style="color:#D52600;font-family:'Arial Rounded MT Bold';">Error: Your haven't added an email to you account</p>
							</div>
							{% elif error %}
							<div class="emailerror">
								<p style="color:#D52600;font-family:'Arial Rounded MT Bold';">Internal Server Error :( <br>We have notified staff they'll get in touch with you.</p>
							</div>
							{% else %}
                             <div class="verification-statement">
							<p>Read our <a href="{% url 'privacy' %}">Privacy </a>&<a href="{% url 'rules' %}"> Rules</a> to see why this is necessary</p>
                            </div>
							{% endif %}
                          <div class="signin1">
                              <button class="signinbutton1 verify" onclick="popupCenter({url: '{{Oauth.discord_login_url}}', title: 'Discord', w: 500, h: 750});" type="button">Sign in with Discord</button>
                          </div>
                        </div>
						{% endif %}
						{% if verified %}
						<fieldset>
						<div class="verified">
                           <h5 style="font-size: 20px; font-family: Helvetica;">You will be redirected to the server in a moment</h5>
                           <p>The data we collect will be stored in machine readable format and will not be disclosed to any third parties</p>
                           <p>For more infomation on why we collect this data and how we use it, click <a href="{% url 'privacy' %}">here</a></p>
						</div>
						</fieldset>
						{% endif %}
					</div>
				</div>
	</section>
	<!-- Page info section -->

{% endblock content %}

{% block scripts %}

    <script>
        const popupCenter = ({url, title, w, h}) => {
        // Fixes dual-screen position                             Most browsers      Firefox
        const dualScreenLeft = window.screenLeft !==  undefined ? window.screenLeft : window.screenX;
        const dualScreenTop = window.screenTop !==  undefined   ? window.screenTop  : window.screenY;

        const width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        const height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        const systemZoom = width / window.screen.availWidth;
        const left = (width - w) / 2 / systemZoom + dualScreenLeft
        const top = (height - h) / 2 / systemZoom + dualScreenTop
        const newWindow = window.open(url, title,
          `
          scrollbars=yes,
          width=${w / systemZoom},
          height=${h / systemZoom},
          top=${top},
          left=${left}
          `
        )

        if (window.focus) newWindow.focus();
         }
    </script>

    {% if joined and verified %}
        <script>
        function redirect(){
           window.location.href = "https://discord.com/channels/577192344529404154/577192344533598472";
        }

        setTimeout(redirect, 3000);
        </script>
    {% endif %}

    {% if not joined %}
        <script>
        function redirect(){
           window.location.href = "https://discord.gg/zed2jHQ";
        }

        setTimeout(redirect, 3000);
        </script>
    {% endif %}
{% endblock scripts %}