[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "==3.0.12"
djangorestframework = "==3.11.0"
requests = "*"
django-environ = "*"
psycopg2-binary = "*"
django-hosts = "*"
sockets = "*"
pillow = "*"
gunicorn = "*"
markdown = "*"
django-celery-results = "*"

[requires]
python_version = "3.8"

[scripts]
makemigrations = 'python manage.py makemigrations'
fakemigrations = 'python manage.py migrate --fake'
migrate = 'python manage.py migrate'
server = 'python manage.py runserver'
lint = 'python -m flake8'
