[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
djangorestframework = "==3.11.0"
requests = "*"
django-environ = "*"
psycopg2-binary = "*"
django-hosts = "*"
pillow = "*"
gunicorn = "*"

[requires]
python_version = "3.9"

[scripts]
server = 'python manage.py runserver'
lint = 'python -m flake8'
