{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'dashboard/css/iconselect.css' %}">
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Server Roles</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Server</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Roles</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Self Assignable Roles</h5>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Role</th>
                                                    <th>Emote</th>
                                                    <th>Category</th>
                                                    <th>Manage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="unread">
                                                    <td>
                                                        <select class="form-select" aria-label="Default select example">
                                                          <option selected>Open this select menu</option>
                                                          <option value="1">One</option>
                                                          <option value="2">Two</option>
                                                          <option value="3">Three</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div id="my-icon-select"></div>
                                                    </td>
                                                    <td>
                                                        <select class="form-select" aria-label="Default select example">
                                                          <option selected>Open this select menu</option>
                                                          <option value="1">One</option>
                                                          <option value="2">Two</option>
                                                          <option value="3">Three</option>
                                                        </select>
                                                    </td>
                                                    <td><button href="#!" class="btn-sm btn-info text-white f-12">Save</button>  <button href="#!" class="btn-sm btn-danger text-white f-12">Delete</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button class="btn-sm btn-outline-primary float-right"><i class="fa fa-plus-circle"></i> Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Assignable Role Configuration</h5>
                                </div>
                                <div class="card-block">
                                    <div class="form-group">
                                        <lable class="font-weight-bold col-sm-2 control-label" for="role-channel-select">Reaction Role Channel</lable>
                                        <select class="form-select form-select-lg mb-3" name="role-channel-select">
                                          <option disabled>Choose React to Role Channel</option>
                                          <option value="1">One</option>
                                        </select>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Category Name</th>
                                                    <th>Manage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="unread">
                                                    <td><input class="form-control-sm" type="text"></td>
                                                    <td><button href="#!" class="btn-sm btn-info text-white f-12">Save</button>  <button href="#!" class="btn-sm btn-danger text-white f-12">Delete</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button class="btn-sm btn-outline-primary float-right"><i class="fa fa-plus-circle"></i> Add</button><br><br><hr>
                                    <p><b>Note: </b>Syncing will apply current changes to the server.</p><br>
                                    <button class="btn btn-info"><i class="fa fa-sync-alt"></i> Sync</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

    <script src="/static/dashboard/js/iconselect-js/lib/control/iconselect.js"></script>
    <script src="/static/dashboard/js/iconselect-js/lib/iscroll.js"></script>
    <script>
        var iconSelect;

        window.onload = function(){

            iconSelect = new IconSelect("my-icon-select",
                {'selectedIconWidth':23,
                'selectedIconHeight':23,
                'selectedBoxPadding':2,
                'iconsWidth':48,
                'iconsHeight':48,
                'boxIconSpace':1,
                'vectoralIconNumber':2,
                'horizontalIconNumber':6});

            var icons = [];
            icons.push({'iconFilePath':'https://cdn.discordapp.com/emojis/731169228672991262.png?v=1', 'iconValue':'1'});
            icons.push({'iconFilePath':'https://cdn.discordapp.com/emojis/772498743378575403.png?v=1', 'iconValue':'2'});
            icons.push({'iconFilePath':'https://cdn.discordapp.com/emojis/778000155470987284.png?v=1', 'iconValue':'3'});
            icons.push({'iconFilePath':'https://cdn.discordapp.com/emojis/794582480828366849.png?v=1', 'iconValue':'4'});
            icons.push({'iconFilePath':'https://cdn.discordapp.com/emojis/803727129288114196.png?v=1', 'iconValue':'5'});
            iconSelect.refresh(icons);
        };
    </script>
{% endblock javascripts %}

