{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Server Roles</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Server</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Roles</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Self Assignable Roles</h5>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Role</th>
                                                    <th>Emote</th>
                                                    <th>Category</th>
                                                    <th>Manage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="unread">
                                                    <td>1</td>
                                                    <td>
                                                        <select class="form-select" aria-label="Default select example">
                                                          <option selected>Open this select menu</option>
                                                          <option value="1">One</option>
                                                          <option value="2">Two</option>
                                                          <option value="3">Three</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-select" aria-label="Default select example">
                                                          <option style="background-image: url('https://cdn.discordapp.com/emojis/739077691260665906.png');">cat</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-select" aria-label="Default select example">
                                                          <option selected>Open this select menu</option>
                                                          <option value="1">One</option>
                                                          <option value="2">Two</option>
                                                          <option value="3">Three</option>
                                                        </select>
                                                    </td>
                                                    <td><button href="#!" class="btn-sm btn-info text-white f-12">Save</button>  <button href="#!" class="btn-sm btn-danger text-white f-12">Delete</button></td>
                                                </tr>
                                                <td><button class="btn-sm btn-outline-primary">Add more</button></td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Assignable Role Configuration</h5>
                                </div>
                                <div class="card-block">
                                    <select class="form-select form-select-lg mb-3">
                                      <option selected disabled>Choose React to Role Channel</option>
                                      <option value="1">One</option>
                                    </select>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Category Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="unread">
                                                    <td>1</td>
                                                    <td><input class="form-control-sm" type="text"></td>
                                                    <td><button href="#!" class="btn-sm btn-info text-white f-12">Save</button>  <button href="#!" class="btn-sm btn-danger text-white f-12">Delete</button></td>
                                                </tr>
                                                <td style="float: right"><button class="btn-sm btn-outline-primary">Add more</button></td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
