{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-lock auth-icon"></i>
                    </div>

                    <fieldset>
                        <legend><h3 class="mb-4">Tortoise Dashboard</h3></legend>
                    <span class="mb-0 text-muted">
                        {% if msg %}
                            {{ msg | safe }}
                        {% endif %}
                    </span>
                    </fieldset>
                    <br />
                       <a href="{{ Oauth.discord_login_url }}"><button type="submit" name="login" class="btn btn-primary shadow-2 mb-4"><i class="fas fa-discord"></i> Login in with discord</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
