{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <!-- Header section end -->
    <div id="hero">
        <div class="hero-container">
          <h1>Welcome to Tortoise</h1>
          <a href="#about" class="btn-get-started scrollto">Join now</a>
        </div>
    </div>

    <!-- Live events section  -->
    {% if levents %}
    <section class="recent-event-section spad set-bg">
        <div class="container">
            <div class="section-title">
                <h2>Live Events</h2> </div>
            <div class="row"> {% for l in levents %}
                <div class="col-lg-3 col-md-6 p-0">
                    <a href="pages/events/{{l.pk}}">
                        <div class="feature-item set-bg" data-setbg="{{l.cover_image.url}}"> <span class="cata red">Live</span>{% if L.eventtype == 'CTF-Event' %}<span class="cata purple">CTF-Event</span>{% else %}<span class="cata green">Coding Challenge</span>{% endif %}
                            <div class="fi-content text-white">
                                <h5><a href="pages/events/{{l.pk}}">{{l.name}}</a></h5>
                                <p>{{l.task}}</p> <a href="pages/events/{{l.pk}}" class="fi-comment">Prizes: {{l.prize}}</a> </div>
                        </div>
                    </a>
                </div> {% endfor %} </div>
        </div>
    </section>
    {% endif %}
    <!-- Live events section end -->

    <!-- Upcoming Events -->
    {% if upcoming %}
    <section class="tournaments-section spad">
        <div class="container">
            <div class="tournament-title">Upcoming Events</div>
            <div class="row"> {% for u in upcoming %}
                <div class="col-md-6">
                    <div class="tournament-item mb-4 mb-lg-0">
                        <div class="ti-notic">{{u.eventtype}}</div>
                        <div class="ti-content">
                            <div class="ti-thumb set-bg" data-setbg="{{u.cover_image.url}}"></div>
                            <div class="ti-text">
                                <h4>{{u.name}}</h4>
                                <ul>
                                    <li><span>Event Begins: </span>{{u.duedate}}</li>
                                    <li><span>Event Ends: </span>{{u.enddate}}</li>
                                    <li><span>Event Host: </span>{{u.host}}</li>
                                </ul>
                                <p><span>Prizes:  </span><span style="color:pink;">{{u.prize}}</span></p>
                            </div>
                        </div>
                    </div>
                </div> {% endfor %} </div>
        </div>
    </section>
    {% endif %}
    <!-- Upcoming Events section end -->

    <!-- Recent events section  -->
    {% if revents %}
    <section class="recent-event-section spad">
        <div class="container">
            <div class="section-title text-white">
                <h2 style="color: white;">Recent Events</h2> </div>
            <div class="row"> {% for r in revents %}
                <a href="pages/events/{{r.pk}}">
                    <div class="col-lg-4 col-md-6">
                        <div class="recent-event-item">
                            <div class="rgi-thumb set-bg" data-setbg="{{r.cover_image.url}}"> {%if R.eventtype == 'CTF-Event' %}
                                <div class="cata purple">{{r.eventtype}}</div> {% else %}
                                <div class="cata green">{{r.eventtype}}</div> {% endif %} </div>
                            <div class="rgi-content">
                                <h5>{{r.name}}</h5>
                                <p>{{r.task}}</p> <a href="#" class="comment"><span style="color:black;">Winner: </span>{{r.winner}}</a>
                            </div>
                        </div>
                    </div>
                </a> {% endfor %} </div>
        </div>
    </section>
    {% endif %}
    <!-- Recent events section end -->

    <section class="page-section single-blog-page spad">
        <div class="container-lg">
            <div class="section-title text-left">
                <h2 class="text-dark" style="text-align: left !important;">Projects</h2>
            </div>
            <div class="row g-4">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                   <div class="card pt-md-3 px-md-2 pb--3">
                      <a class="stretched-link" href="#"><h5 class="card-header bg-transparent"><i class="fa fa-github"></i> Tortoise-Bot</h5></a>
                      <div class="card-body">
                        <p class="card-text text-dark">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer bg-transparent mb--3">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-circle text-info"></i> Python</li>
                            <li class="list-inline-item"><i class="fa fa-star"></i> 34</li>
                            <li class="list-inline-item"><i class="fa fa-code-fork"></i> 34</li>
                            <li class="list-inline-item"><i class="fa fa-history"></i> 34</li>
                        </ul>
                      </div>
                   </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                   <div class="card pt-md-3 px-md-2 pb--3">
                      <a class="stretched-link" href="#"><h5 class="card-header bg-transparent"><i class="fa fa-github"></i> Tortoise-Bot</h5></a>
                      <div class="card-body">
                        <p class="card-text text-dark">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer bg-transparent mb--3">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-circle text-info"></i> Python</li>
                            <li class="list-inline-item"><i class="fa fa-star"></i> 34</li>
                            <li class="list-inline-item"><i class="fa fa-code-fork"></i> 34</li>
                            <li class="list-inline-item"><i class="fa fa-history"></i> 34</li>
                        </ul>
                      </div>
                   </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                   <div class="card pt-md-3 px-md-2 pb--3">
                      <a class="stretched-link" href="#"><h5 class="card-header bg-transparent"><i class="fa fa-github"></i> Tortoise-Bot</h5></a>
                      <div class="card-body">
                        <p class="card-text text-dark">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer bg-transparent mb--3">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-circle text-info"></i> Python</li>
                            <li class="list-inline-item"><i class="fa fa-star"></i> 34</li>
                            <li class="list-inline-item"><i class="fa fa-code-fork"></i> 34</li>
                            <li class="list-inline-item"><i class="fa fa-history"></i> 34</li>
                        </ul>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}