{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Tortoise Community</title>
	<meta charset="UTF-8">
	<meta name="description" content="Participate in our events and win cool prizes and perks.">
	<meta name="keywords" content="Python,Machine learning, community, Tortoise community , tortoise python,discord python , python discord community, discord python chat,developers, python">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{% static 'img/real.ico' %}" rel="shortcut icon">
v

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chewy|Lilita+One&display=swap" rel="stylesheet">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="index.html">
				<img src="{% static 'img/logo.png' %}" alt="">
			</a>
			
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<br>
			<!-- site menu -->
			<nav class="main-menu">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'events' %}">Events</a></li>
					<li><a href="{% url 'projects' %}">Projects</a></li>
					<li><a href="{% url 'members' %}">Members</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Latest news section -->
	{% if News %}
	<div class="latest-news-section">
		<div class="ln-title">UPDATES</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
				{% for N in News %}
				{% if N.choice == 'Live' %}
				 <a href="events"><div class="nt-item"><span class="red">Live</span>{{N.news}}</div></a>
			    {% elif N.choice == 'News'  %}
				<a href="events"><div class="nt-item"><span class="green">News</span>{{N.news}}</div></a>
				{% else %}
				<a href="events"><div class="nt-item"><span class="purple">Announcement</span>{{N.news}}</div></a>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">

						<h2>Events</h2>
						<p>Here are the records all the Live/Ended Events,Participate in our events and win cool prizes and perks.<br>Rank up inside the server and earn higher roles </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->


	<!-- Page section -->
	<section class="page-section recent-game-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						{% for E in Events %}
						<div class="col-md-6">
							<a href="{{E.pk}}">
							<div class="recent-game-item">
								<div class="rgi-thumb set-bg" data-setbg="{{E.coverimage.url}}">
									<div class="{{E.status}}">{{E.status}}</div>
								</div>
								<div class="rgi-content">
									<h5>{{E.name}} </h5>
									<p>{{E.task}} </p><br>
									<div class="rgi-extra">
										<div class="rgi-star"><img src="{% static 'img/icons/star.png' %}" alt=""></div>
										<div class="rgi-heart"><img src="{% static 'img/icons/heart.png' %}" alt=""></div>
									</div>
								</div>
							</div>	
							</a>
						</div>
						{% endfor %}
					</div>
					
								
					<div class="site-pagination">
						<span class="active">01.</span>
						<a href="#">02.</a>
						<a href="#">03.</a>
					</div>
				</div>
				<!-- sidebar -->
				<div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
					<!-- widget --> 
					<div class="widget-item">
						<h4>Upcoming</h4>
					</div>
		
					{% if Upcoming %}
					<!-- widget --> 
					{% for U in Upcoming %}
					<div class="widget-item">
						<div class="feature-item set-bg" data-setbg="{{U.coverimage.url}}">
							{% if U.eventtype == 'CTF-Event' %}
							<span class="cata blue">CTF-Event</span>
							{% else %}
							<span class="cata green">CODING-CHALLENGE</span>
							{% endif %}
							<div class="fi-content text-white">
								<h5><a href="#">{{U.name}}</a></h5>
								<p>{{U.task}} </p>
								<a href="#" class="fi-comment"><b>Host: <b>{{U.host}}</a>
							</div>
						</div>
					</div> 
					{% endfor %}
					{% else %}
					<h6>There are no upcoming events...</h6>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->
    -->

	<!-- Footer top section -->
	<section class="footer-top-section">
		<div class="container">
			<div class="footer-top-bg">
				<img src="{% static 'img/footer-top-bg.png' %}" alt="">
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-logo text-white">
						<img src="{% static 'img/footer-logo.png' %}" alt="">
						<p>Rush to our discord server</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<iframe src="https://discordapp.com/widget?id=577192344529404154&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget">
						<h4 class="fw-title">Team Tortoise</h4>
						<div class="top-comment">
							{% for T in Team %}
							<div class="tc-item">
								<div class="tc-thumb set-bg" data-setbg="{{T.profilepic.url}}"></div>
								<div class="tc-content">
									<p><a href="#">{{T.name}}</a><br><span>Designation: </span>{{T.designation}}</p>
									<p><span>Nickname: </span> <a class="tc-date">{{T.nickname}}</a></p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->

	
	<footer class="footer-section">
		<div class="container">
			<ul class="footer-menu">
				<li><i><a class="fa fa-github " href="https://github.com/Tortoise-Community" target="_blank"> Github</a></i></li>
				<li><i><a class="fa fa-reddit" href="https://www.reddit.com/user/Tortoise_Community" target="_blank"> Reddit</a></i></li>
				<li><a class="fa fa-twitter" href="https://twitter.com/PythonTortoise" target="_blank"> Twitter</a></li>
				<li><a class="fa fa-instagram" href="https://www.instagram.com/Tortoise_Python_Community/" target="_blank"> Instagram</a></li>
				<li><a class="fa fa-facebook-square" href="https://www.facebook.com/Tortoise-Python-Community-103144314517830" target="_blank"> Facebook</a></li>
			</ul>
			<p class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tortoise Community | <a href="{% url 'credits' %}"target='_blank'>All rights reserved </a></p>
		</div>
	</footer>

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.marquee.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    </body>
</html>