{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Tortoise Community</title>
	<meta charset="UTF-8">
	<meta name="description" content="Information about the data we collect and how we use them">
	<meta name="keywords" content="warrior, game, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chewy|Lilita+One&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="index.html">
				<img src="{% static 'img/logo.png' %}" alt="">
			</a>
			
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<br>
			<!-- site menu -->
			<nav class="main-menu">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'events' %}">Events</a></li>
					<li><a href="{% url 'projects' %}">Projects</a></li>
					<li><a href="{% url 'members' %}">Community</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Latest news section -->
	{% if News %}
	<div class="latest-news-section">
		<div class="ln-title">UPDATES</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
				{% for N in News %}
				{% if N.choice == 'Live' %}
				 <a href="events"><div class="nt-item"><span class="red">Live</span>{{N.news}}</div></a>
			    {% elif N.choice == 'News'  %}
				<a href="events"><div class="nt-item"><span class="green">News</span>{{N.news}}</div></a>
				{% else %}
				<a href="events"><div class="nt-item"><span class="purple">Announcement</span>{{N.news}}</div></a>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>Privacy Policy</h2>
						<p>Information on the data we collect about you and their usage.</p>
					</div>
				</div>
				<a href="{% url 'members' %}"><button class="githux mod1">Developers</button></a>
				<a href="{% url 'rules' %}"><button class="githux mod1">Rules</button></a>
				<a href="{% url 'privacy' %}"><button class="githux mod1 buttonactive">Privacy</button></a>
			</div>
		</div>
	</section>
	<!-- Page info section -->


	<!-- Page section -->
		<section class="page-section single-blog-page spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="row">	
                        {% if Privacy %}
                        {% for P in Privacy %}
						<h2>{{P.header}}</h2>
						<div class="privacypolicy" style="color: black !important; font-size: 20px;">
						  <p>{{P.content}}</p>
                          <p>{{P.extra}}</p>
						</div>
                        {% endfor %}
                        {% endif %}
						</div>

					</div>
				<!-- sidebar -->
				<div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0 change-log">
					<!-- widget --> 
					<div class="widget-item">
						<h3><u>Change log</u></h3>
					</div>
                    {% if Change %}
                    {% for C in Change %}
                    <h6><span>{{C.date}}</span> : {{C.content}}</h6> 
                    {% endfor %}
					{% else %}
					<h6>No changes untill now</h6>
					{% endif %}
				</div>
				</div>
			</div>
     	</section>
	<!-- Page section end -->



	
	<footer class="footer-section">
		<div class="container">
			<ul class="footer-menu">
				<li><i><a class="fa fa-github " href="https://github.com/Tortoise-Community" target="_blank"> Github</a></i></li>
				<li><i><a class="fa fa-reddit" href="https://www.reddit.com/user/Tortoise_Community" target="_blank"> Reddit</a></i></li>
				<li><a class="fa fa-twitter" href="https://twitter.com/PythonTortoise" target="_blank"> Twitter</a></li>
				<li><a class="fa fa-instagram" href="https://www.instagram.com/Tortoise_Python_Community/" target="_blank"> Instagram</a></li>
				<li><a class="fa fa-facebook-square" href="https://www.facebook.com/Tortoise-Python-Community-103144314517830" target="_blank"> Facebook</a></li>
			</ul>
			<p class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tortoise Community | <a href="{% url 'credits' %}"target='_blank'>All rights reserved </a></p>
		</div>
	</footer>

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.marquee.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    </body>
</html>