{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Tortoise Community</title>
	<meta charset="UTF-8">
	<meta name="description" content="We are a discord based community of/for programmers and developers focused around Python and Machine learning">
	<meta name="keywords" content="Python,Machine learning, community, Tortoise community , tortoise python,discord python , python discord community, discord python chat,developers, python ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{% static 'img/real.ico' %}" rel="shortcut icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chewy|Lilita+One&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="{% url 'home' %}">
				<img src="{{siteurls.site_logo}}" alt="">
			</a>
			
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<br>
			<!-- site menu -->
			<nav class="main-menu">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'events' %}">Events</a></li>
					<li><a href="{% url 'projects' %}">Projects</a></li>
					<li><a href="{% url 'members' %}">Community</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Latest news section -->
	{% if news %}
	<div class="latest-news-section">
		<div class="ln-title">UPDATES</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
				{% for n in news %}
				{% if n.choice == 'Live' %}
				 <a href="events"><div class="nt-item"><span class="red">Live</span>{{n.news}}</div></a>
			    {% elif n.choice == 'News'  %}
				<a href="events"><div class="nt-item"><span class="green">News</span>{{n.news}}</div></a>
				{% else %}
				<a href="events"><div class="nt-item"><span class="purple">Announcement</span>{{n.news}}</div></a>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	<!-- Latest news section end -->


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{{siteurls.img3}}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white blurcard">
						<h2 style="color: black;">Projects</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->

		<!-- Review section -->
		<section class="review-section review-dark spad set-bg" data-setbg="{% static 'img/review-bg-2.jpg' %}">
			<div class="container">
				<div class="section-title text-white">
					<div class="cata red">new</div>
					<h2>Our Projects</h2>
				</div>
				<div class="row text-white">	
					{% for p in projects %}
					<div class="col-lg-3 col-md-6">
						<a href="{{p.pk}}"><div class="review-item">
							<div class="review-cover set-bg" data-setbg="{{p.coverimage.url}}">
								<div class="score pink">{{p.rating}}</div>
							</div>
							<div class="review-text">
								<h5>{{p.name}}</h5>
								<p>{{p.label}}</p>
							</div>
						</div></a>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!-- Review section end --> 
	


	

	<!-- Footer top section -->
	<section class="footer-top-section">
		<div class="container">
			<div class="footer-top-bg">
				<img src="{{siteurls.footer_img}}" alt="">
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-logo text-white">
						<img src="{{siteurls.footer_logo}}" alt="">
						<p>Rush to our discord server</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<iframe src="https://discordapp.com/widget?id=577192344529404154&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget">
						<h4 class="fw-title">Team Tortoise</h4>
						<div class="top-comment">
							{% for t in team %}
							<div class="tc-item">
								<div class="tc-thumb set-bg" data-setbg="{{t.profilepic.url}}"></div>
								<div class="tc-content">
									<p><a href="#">{{t.name}}</a><br><span>Designation: </span>{{t.designation}}</p>
									<p><span>Nickname: </span> <a class="tc-date">{{t.nickname}}</a></p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->

	
	<footer class="footer-section">
		<div class="container">
			<ul class="footer-menu">
				<li><i><a class="fa fa-github " href="{{siteurls.github}}" target="_blank"> Github</a></i></li>
				<li><i><a class="fa fa-reddit" href="{{siteurls.reddit}}" target="_blank"> Reddit</a></i></li>
				<li><a class="fa fa-twitter" href="{{siteurls.twitter}}" target="_blank"> Twitter</a></li>
				<li><a class="fa fa-instagram" href="{{siteurls.instagram}}" target="_blank"> Instagram</a></li>
				<li><a class="fa fa-facebook-square" href="{{siteurls.facebook}}" target="_blank"> Facebook</a></li>
			</ul>
			<p class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tortoise Community | <a href="{% url 'credits' %}"target='_blank'>All rights reserved </a></p>
		</div>
	</footer>

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.marquee.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    </body>
</html>