{% load static %}

<!DOCTYPE html>
<html lang="zxx">
	<head>
		<title>Tortoise Community</title>
		<meta charset="UTF-8">
		<meta name="description" content="We are a discord based community of/for programmers and developers focused around Python and Machine learning">
		<meta name="keywords" content="Python,Machine learning, community, Tortoise community , tortoise python,discord python , python discord community, discord python chat,developers, python ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->   
		<link href="{% static 'img/real.ico' %}" rel="shortcut icon"/>
	
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Chewy|Lilita+One|Oxanium&display=swap" rel="stylesheet">
		
	
	
		<!-- Stylesheets -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
	
	
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	
	</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="index.html">
				<img src="{% static 'img/logo.png' %}" alt="">
			</a>
			
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<br>
			<!-- site menu -->
			<nav class="main-menu">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'events' %}">Events</a></li>
					<li><a href="{% url 'projects' %}">Projects</a></li>
					<li><a href="{% url 'members' %}">Members</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->

	
	<!-- Latest news section -->
	{% if News %}
	<div class="latest-news-section">
		<div class="ln-title">UPDATES</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
				{% for N in News %}
				{% if N.choice == 'Live' %}
				 <a href="events"><div class="nt-item"><span class="red">Live</span>{{N.news}}</div></a>
			    {% elif N.choice == 'News'  %}
				<a href="events"><div class="nt-item"><span class="green">News</span>{{N.news}}</div></a>
				{% else %}
				<a href="events"><div class="nt-item"><span class="purple">Announcement</span>{{N.news}}</div></a>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	<!-- Latest news section end -->


	<!-- Page info section -->
	<section class="page-info-section1 set-bg" data-setbg="{% static 'img/verify.jpg' %}">
				<div class="verification">
					<div class="verification-wrapper">
						<div class="verification-top">
							<h3>Tortoise <span>Community</span></h3>
							<h5>Sign-in to verify</h5>
						</div>
						<fieldset class="field_set">
							<legend visible="true" style="width:auto;"><h5>Permissions required</h5></legend>
						<div class="verification-bottom">
							<ul>
								<li>Access your email</li>
								<li>Access username</li>
								<li>Access avatar</li>
							</ul>
						</div>
						</fieldset>
						<div class="verification-footer">
							<p>Note: We use discord Oauth2 system for the verification</p>
							<a href="{{Oauth.discord_login_url}}"><button class="verify" type="button">Sign in with Discord</button></a>
						</div>

					</div>
				</div>
	</section>
	<!-- Page info section -->


	
	
	<footer class="footer-section">
		<div class="container">
			<ul class="footer-menu">
				<li><i><a class="fa fa-github " href="https://github.com/Tortoise-Community" target="_blank"> Github</a></i></li>
				<li><i><a class="fa fa-reddit" href="https://www.reddit.com/user/Tortoise_Community" target="_blank"> Reddit</a></i></li>
				<li><a class="fa fa-twitter" href="https://twitter.com/PythonTortoise" target="_blank"> Twitter</a></li>
				<li><a class="fa fa-instagram" href="https://www.instagram.com/Tortoise_Python_Community/" target="_blank"> Instagram</a></li>
				<li><a class="fa fa-facebook-square" href="https://www.facebook.com/Tortoise-Python-Community-103144314517830" target="_blank"> Facebook</a></li>
			</ul>
			<p class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tortoise Community | <a href="{% url 'credits' %}"target='_blank'>All rights reserved </a></p>
		</div>
	</footer>

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.marquee.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    </body>
</html>