{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification Handler</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<script>
    function setParam(status_code)
    {

        {#let param = "https://www.tortoisecommunity.com/verification/?status=" + status_code#}
        let param = "http://127.0.0.1:8000/verification/?status=" + status_code
        window.opener.location.replace(param);
        window.close();
    }
</script>
</head>
<body>
<div class="verification-handler-container">
    {% if unverifiederror %}
        <div class="verification-handler-content">
        <h2><i style="color:firebrick;" class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i></h2>
       <h2> Verification Failed ;(</h2><br>
       <h5>Please verify your discord email before attempting our server verification.</h5>
        </div>
    {% endif %}
    {% if alterror %}
        <div class="verification-handler-content">
        <h2><i style="color:firebrick;" class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i></h2>
       <h2> Verification Failed ;(</h2><br>
       <h5>Alt accounts are not allowed inside the server.</h5>
        </div>
    {% endif %}
    {% if verified %}
    <div class="verification-handler-content">
         <h2><i style="color:#00cc00;" class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i></h2>
       <h2> Verification Successful!</h2><br>
        {% if not joined %}
        <a href="https://discord.gg/6xsaVQN"><button class="joinus">Click here to join</button></a>
{#            <script>setTimeout(setParam("notjoined"),0);</script>#}
        {% else %}
       <h5>Now you may close this page and go back to discord</h5>
{#            <script>setTimeout(setParam("verified"),0);</script>#}
        {% endif %}
    </div>
    {% elif emailerror %}
    <div class="verification-handler-content">
        <h2><i style="color:firebrick;" class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i></h2>
       <h2> Verification Error ;(</h2><br>
       <h5>This error is likely because you haven't added an email to your discord account.</h5>
    <p>Our bot might have sent you a detailed diagnostic report of this error, Kindly check your Discord DMs</p>

    </div>
{#        <script>setTimeout(setParam("emailerror"),0);</script>#}
    {% elif error %}
    <div class="verification-handler-content">
        <h2><i style="color:firebrick;" class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i></h2>
       <h2>Internal Server Error ;(</h2><br>
       <h5>We have encountered an error during verification. This error is from our side.<h5>
       <p>We have already alerted the staff about it. Optionally you can head to the server and open a Mod mail session or directly contact an Administrator. We will be in touch with you soon.</p>
    </div>
{#        <script>setTimeout(setParam("error"),0);</script>#}
    {% endif %}
</div>

</body>
</html>