{% extends "dashboard/layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Server Infractions</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Server</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Infraction</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Infraction log</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Type</th>
                                                    <th>Reason</th>
                                                    <th>Date</th>
                                                    <th class="text-right"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for infraction in infractions %}
                                                <tr class="unread">
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="{{ infraction.member.user.avatar }}" alt="activity-user">{{ infraction.member.user.name }} #{{ infraction.member.user.tag }}</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-purple"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>{{ infraction.type }}</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">{{ infraction.warning.reason }}</h6>
                                                        <p class="m-0">[mod] {{ infraction.warning.moderator.user.name }} #{{ infraction.warning.moderator.user.tag }}</p>
                                                    </td>

                                                    <td>
                                                        <h6 class="text-muted">{{ infraction.warning.date }}</h6>
                                                    </td>
                                                    <td><a href="#" class="label theme-bg2 text-white f-12">Revoke</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->
                        <!-- [ rating list ] starts-->
                        <div class="col-xl-4 col-md-6">
                            <div class="card user-list">
                                <div class="card-header">
                                    <h5>Infraction stats</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left">Ban</h6>
                                            <h6 class="align-items-center float-right">384</h6>
                                            <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left">Kick</h6>
                                            <h6 class="align-items-center float-right">384</h6>
                                            <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left">Mute</h6>
                                            <h6 class="align-items-center float-right">384</h6>
                                            <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ rating list ] end-->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
